
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery.min.js"></script>
    
    <script src="~/Scripts/jquery.easyui.min.js"></script>

    <link href="~/css/easyui.css" rel="stylesheet" />

    <link href="~/css/icon.css" rel="stylesheet" />

    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tt').tree({
                url: "/Home/Index2",
                onClick: function (node) {
                    var text = node.text;
                    var url = node.QuanURL;
                    if (url != null) {
                        //页面级
                        //如果页面有，就选中，否则就添加
                        if ($("#tabs").tabs('exists', text)) {
                            $("#tabs").tabs('select', text)
                        } else {
                            $('#tabs').tabs('add', {
                                title: text,
                                content: '<iframe src=' + url + ' width="1490px" height="600px" />',
                                closable: true,
                                tools: [{
                                    iconCls: 'icon-mini-refresh',
                                    handler: function () {
                                        alert('refresh');
                                    }
                                }]
                            });
                        }
                    }
                }
            });
        })
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',title:'',split:true" style="height:165px;">
        <iframe src="top.html" width="99%" height="155px"></iframe>
    </div>

    <div data-options="region:'west',title:'West',split:true" style="width:200px;">
        <ul id="tt"></ul>
    </div>

    <div data-options="region:'center',title:'center title'"  style="padding:5px;background:#eee;" >
        <div id="tabs" class="easyui-tabs" style="width:1495px;height:620px;">
            <iframe src="main.html" width="99%" height="550px"></iframe>
        </div>

    </div>
</body> 
</html>

