<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTow">
        <register type="IBLL.Ifirst_kindBLL,IBLL" mapTo="BLL.first_kindBLL,BLL" name="first_kindBLL"/>
        <register type="IBLL.Isecond_kindBLL,IBLL" mapTo="BLL.second_kindBLL,BLL" name="second_kindBLL"/>

        <register type="IBLL.ILoginBll,IBLL" mapTo="BLL.LoginBll,BLL" name="LoginBll"/>

        <register type="IBLL.Isecond_kindBLL,IBLL" mapTo="BLL.second_kindBLL,BLL" name="second_kindBLL"/>

        <register type="IBLL.Ithird_kindBLL,IBLL" mapTo="BLL.third_kindBLL,BLL" name="third_kindBLL"/>

        <register type="IBLL.Imajor_kindBLL,IBLL" mapTo="BLL.major_kindBLL,BLL" name="major_kindBLL"/>

        <register type="IBLL.ImajorBLL,IBLL" mapTo="BLL.majorBLL,BLL" name="majorBLL"/>
        <register type="IBLL.Ipublic_charBLL,IBLL" mapTo="BLL.public_charBLL,BLL" name="public_charBLL"/>
        <register type="IBLL.IstandardBLL,IBLL" mapTo="BLL.standardBLL,BLL" name="standardBLL"/>
        <register type="IBLL.Istandard_detailsBLL,IBLL" mapTo="BLL.standard_detailsBLL,BLL" name="standard_detailsBLL"/>
        <register type="IBLL.Isalary_grantBLL,IBLL" mapTo="BLL.salary_grantBLL,BLL" name="salary_grantBLL"/>
        <register type="IBLL.I_fileBLL,IBLL" mapTo="BLL._fileBLL,BLL" name="_fileBLL"/>
        <register type="IBLL.Igrant_detailsBLL,IBLL" mapTo="BLL.grant_detailsBLL,BLL" name="grant_detailsBLL"/>
      </container>
    
    </containers>
  </unity>
</configuration>