<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTow">
        <!--<register type="IBLL.Ifirst_kindBLL,IBLL" mapTo="BLL.first_kindBLL,BLL" name="first_kindBLL"/>-->
        <register type="IBLL.Ihuman_fileBll,IBLL" mapTo="BLL.human_fileBll,BLL" name="human_fileBll"/>
        
        <register type="IBLL.ILoginBll,IBLL" mapTo="BLL.LoginBll,BLL" name="LoginBll"/>
        
        <register type="IBLL.Ifile_third_Bll,IBLL" mapTo="BLL.file_third_kindBll,BLL" name="file_third_kindBll"/>
        
        <register type="IBLL.Imajor_changeBll,IBLL" mapTo="BLL.major_changeBll,BLL" name="major_changeBll"/>

        <register type="IBLL.IQuanxianBll,IBLL" mapTo="BLL.QuanxianBll,BLL" name="QuanxianBll"/>
        
        <!--<register type="IBLL.Isecond_kindBLL,IBLL" mapTo="BLL.second_kindBLL,BLL" name="second_kindBLL"/>

        <register type="IBLL.Ithird_kindBLL,IBLL" mapTo="BLL.third_kindBLL,BLL" name="third_kindBLL"/>

        <register type="IBLL.Imajor_kindBLL,IBLL" mapTo="BLL.major_kindBLL,BLL" name="major_kindBLL"/>

        <register type="IBLL.ImajorBLL,IBLL" mapTo="BLL.majorBLL,BLL" name="majorBLL"/>-->

      </container>
    </containers>
  </unity>
</configuration>