<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTow">
        <register type="IBLL.ILoginBll,IBLL" mapTo="BLL.LoginBll,BLL" name="LoginBll"/>
      </container>
    </containers>
  </unity>
</configuration>