
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My JSP 'resume-choose.jsp' starting page</title>

    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/locate.js">
    </script>
    @*<script type="text/javascript"
            src="../../../javascript/select.js">
    </script>*@
    <script type="text/javascript"
            src="../../../javascript/comm/time.js">
    </script>
    <script type="text/javascript">
	function search() {

				if(document.getElementById("majorKindId").value=="0"){
				document.getElementById("majorKindId").value=null;
				}
		document.resumeChooseForm.submit();
	}

	function byid(a){
	    var b = $("#majorKindId").val();
	    $.get("/Engage_resume/bymkidList/" + b, function (data) {
	        $("#majorId option:gt(0)").remove();
	        for (var i = 0; i < data.length; i++) {
	            var $option = $("<option value=" + data[i]["major_id"] + ">" + data[i]["major_name"] + "</option>");
	            $("#majorId").append($option);
	        }
	    }, "json"); 

	    }
	

	function sub() {

	   var kid= $("#majorKindId").val();
	   var mid= $("#majorId").val();
	   var gjz= $("#gjz").val();
	  var sj1=  $("#date1").val();
	  var sj2 = $("#date2").val();
	  var boolls = $("#boolll").val();
	//  alert(boolls);

	  if (kid == null && mid == null && gjz == "" && sj1 == "" && sj2 == "") {
	      boolls = "false";
	      s(kid, mid, gjz, sj1, sj2, boolls);
	     
	  } else if (kid != null && mid!=null && gjz != "" && sj1 != "" && sj2 != "") {
	      booll = "true";
	      s(kid, mid, gjz, sj1, sj2, boolls);

	  } else {
	      alert('请填写完整，或不填写');
	  }
        
	}

	function s(kid, mid, gjz, sj1, sj2, boolls) {
	    $.post("/Engage_resume/Selewhere", { "humanMajorKindId": kid, "humanMajorId": mid, "primarKey": gjz, "startDate": sj1, "endDate": sj2, "booll": boolls }, function (data) {

	        if (data == "ok") {
	            window.location.href = '/Engage_resume/WhereList';
	        }
	    }, "text");
	}
    </script>
</head>

<body>
    <form id="recruitAction" name="resumeChooseForm" action="#" method="post">
        <input type="hidden" name="engageResume.humanMajorKindName"
               id="majorKindName" />
        <input type="hidden" name="engageResume.humanMajorName"
               id="majorName" />
        <input type="hidden" name="engageResume.checkStatus"
               value="false" />

        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--招聘管理--简历管理--简历筛选 </font>
                </td>
            </tr>
            <tr>
                <td align="right">

                    <input type="button" value="开始" class="BUTTON_STYLE1"
                           onclick=sub();>
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">

            <tr>
                <td class="TD_STYLE1" width="30%">
                    请选择职位分类
                </td>
                @{List<config_major_kind> list = ViewBag.fl;}
                <td class="TD_STYLE2" width="30%">
                    <input type="hidden" name="booll" id="boolll" value="true"/>
                    <select name="humanMajorKindId" multiple="multiple" style="width: 290;height: 100"
                            id="majorKindId" class="SELECT_STYLE2" onchange="byid(this);">
                        <option value="0">--请选择--</option>
                     
                        @foreach (var item in list)
                        {
                            
                            <option value="@item.major_kind_id"> @item.major_kind_name</option>
                        }
                        


                    </select>
                    <select name="humanMajorId" multiple="multiple" style="width: 290;height: 100"
                            id="majorId" size="5"
                            class="SELECT_STYLE2">
                        <option>
                            --请选择--
                        </option>
                    </select>

                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1" width="30%">
                    请输入关键字
                </td>
                <td width="84%">
                    <input type="text" name="primarKey" value=""
                           class="INPUT_STYLE2" id="gjz" />
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1" width="30%">
                    请输入登记时间
                </td>
                <td width="84%" class="TD_STYLE2">
                    <input type="hidden" name="utilBean.datePropertyName" value="registTime" />

                    <input type="text" name="utilBean.startDate" id="date1" onclick="aa('utilBean.startDate')"
                           style="width: 14%" class="INPUT_STYLE2">
                    至
                    <input type="text" name="utilBean.endDate"
                           style="width: 14%" class="INPUT_STYLE2" id="date2" onclick="aa('utilBean.endDate')">
                    （YYYY-MM-DD）
                </td>
            </tr>
        </table>
    </form>




</body>

</html>

